/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 20px;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
  color: black;
}

h1 {
  padding: 20px;
  box-sizing: border-box;
 }

 h1 {
  margin-bottom: 0px; /* 必要に応じて変更 */
}

form {
  margin-top: 0; /* 追加してフォーム上部の余白を取り除く */
  padding-top: 0; /* 必要に応じて調整 */
}

.content {
  margin-left: 40px; /* "ようこそ" より右に20px移動 */
}

th {
    padding-bottom: 5px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.field{
  font-size: 15px;
  color: black;
 }

 .link a {
  color: black; /* 通常のリンクカラー */
  display: inline-block; /* インライン表示 */
  margin-right: 10px; /* 各リンクの間にスペースを追加 */
}

 .link a:visited {
  color: gray;
 }

 .link a:hover {
  color: white; /* 文字を白に */
  background-color: black; /* 背景を黒に */
  padding: 4px 8px; /* 四角のサイズを調整 */
 }

 .content {
  margin-left: 40px; /* "ようこそ" より右に20px移動 */
}

/*##########################*/

 .flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

/* 成功した時のメッセージ */
.flash-message.notice {
  color: green;
}

/* 失敗した時のメッセージ */
.flash-message.alert {
  background-color: red;
  color: white;
  border: solid 1px red;
}

/*##########################*/

/* エラー表示エリアのスタイル */
.error-messages {
  padding: 0; /* 内側の余白を初期化 */
  margin: 15px 0;
  border: 2px solid red; /* 赤い境界線 */
  box-sizing: border-box; /* 境界線込みでサイズを設定 */
  width: 500px;
}

.error-messages h3 {
  margin: 0;
  font-size: 14px;
  padding: 10px; /* 余白を追加 */
  background-color: #c00; /* 赤背景*/
  font-weight: bold; /* 太文字*/
  color: #fff; /* 白文字 */
}

.error-messages ul {
  margin: 0;
  padding: 10px 20px; /* 余白を追加し、左に20pxのインデント */
  background-color: #f0f0f0; /* 項目の背景色 */
  list-style: none; /* マーカーを削除 */
  padding-top: 30px;
  padding-left: 90px;
  padding-bottom: 30px;
}

.error-messages li {
  font-size: 13px;
  list-style: square;
  color: #000; /* 黒文字 */
  padding-top: 5px;
}

/*##########################*/

/* リンクのホバー時のカラー変更 */
.link a {
  color: black;
  display: inline-block;
  margin-right: 10px;
}

.link a:visited {
  color: gray;
}

.link a:hover {
  color: white;
  background-color: black;
  padding: 4px 8px;
}